html
{
    width: 100%;
}

body
{
    margin:0;
    padding: 0;
}            
            /*HEADER:START*/
header
{
    background-color: #ff5722;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100px;
}

.menuleft
{
    color:white;
    margin-left:10px;
}
.menu ul
{
    margin: 0;
    padding: 0;
}
.menu ul
{
    /* thẻ ul cách các lề 10px */
    padding: 10px;
}
.menu ul li{
    /* không sử dụng dấu chấm đầu dòng */
    list-style-type: none;
    /* để các thẻ lên 1 dòng */
    display: inline;
    padding: 10px 5px;
    position: relative;
}

.menu a
{
    color: white;
    font-size: 24px;
    text-decoration: none;
    position: relative;
   
}

.menu a::after
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background: #000;
    margin-bottom: -10px;
    transition: width 0.5s;
}

.menu a:hover::after
{
    width: 100%;
}
.menu ul li a:hover
{
    color: #000;
}
                /*HEADER:END*/

                /*MENUBAR: START*/
.menubar
{
    min-height: 100px;
    background-color: #303030;
    width: 100%;
    padding: 20px 30px;
    align-items: center;
}

.menubar ul li
{
    list-style-type: none;
    display: inline;
    padding: 20px 30px;
    
}
.menubar a
{
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    
}

.menubar a:hover
{
    color: #ffcc00;
}

.menubar a::after
{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 5px;
    background: #ffcc00;
    margin-bottom: -10px;
    transition: width 0.5s;
}

.menubar a:hover::after
{
    width: 100%;
}
                /*MENUBAR:END*/

                /*MENU: START*/
.menu-section
{
    padding: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

 h2 
 {
    color: #d35400;
    font-size: 30px ;
    border-bottom: 2px solid #d35400;
    padding-bottom: 0.5rem;
 }
 .menu-grid 
 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
}

 .item 
{
    background: #fff;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.item img 
{
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.5s;
}

.item img:hover
{
    transform: scale(1.1);
}
.item h3
{
    margin: 0.5rem 0;
    color: #ff5722;
}
.item p
{
    color: #4caf50;
}
                /*MENU: END*/